.header__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
  padding: 0;
}

@media (max-width: 320px) {
  .header__section {
    padding-bottom: 8px;
  }
}